.Ronnie {
  text-align: center;
}
.image {
  width: 180px;
  height: 180px;
  float: right;
}
.align {
  text-align: left;
  width: 800px;
}
.body {
  background-color: gray;
}
.me {
  color: red;
}
.dilly {
  width: 600px;
  border: 25px solid green;
  padding: 25px;
  margin-left: auto;
  margin-right: auto;
}
